.container {
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  gap: 0.1rem;
}

mat-icon:hover {
  color: #ff5700;
  transition: color 0.3s;
}

.subreddit-title {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.25rem;
}

.post-container {
  max-height: 50vh;
  overflow: auto;
}

.post-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
